.logo {
	height: 15rem;
	border-radius: 50%;
	border: 1px solid #343a40;
}

.logo-container {
	text-align:center; 
	width:16rem;
	padding-bottom:15px;
}

.btn-below {
	margin-left:15px;
	margin-right:15px;
	padding:8px;
	border:1px solid #fff;
	border-radius:5px;
	font-size:2rem;
	font-weight:600;
	background: rgba(0,0,0,0.25);
	color:#fff !important;
}

.btn-container {
	color:#fff;
	padding-top:15px;
	text-align:center;
}

.btn-below:hover {
	cursor:pointer;
	background: rgba(0,0,0,0.5);
	color: #fff;
	text-decoration:none;
}

.custom-link {
	color:#343a40;
}

.custom-link:hover, .custom-link:visited {
	color:#343a40;
}

.fa-paper-plane {
	opacity:0;
}

#contact-link:hover > .fa-paper-plane {
	opacity:1;
}

#contact-link:focus {
	color: rgba(255, 255, 255, 0.5);
}

.footer {
  margin-top:15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color:transparent;
	margin-top:6vh;
}

.paper {
	width:100%;
	height:85vh;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  text-align:right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.secondary {
	font-weight:300
}

.portfolio {
	background-position:top;
	cursor:pointer;
	border:1px solid #343a40;
}

.portfolio-left {
	clear:left;
	float:left;
	margin-right:30px;
	margin-bottom:0px;
	object-fit:cover;
	object-position:top;
}

.portfolio-right {
	clear:right;
	float:right;
	margin-left:30px;
	margin-bottom:0px;
	object-fit:cover;
	object-position:top;
}

.mast-doc {
	width:30%;
	max-height:200px;
}

@media (min-width: 992px) {
	.mast-doc {
		max-height:150px;
	}
}